<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/landing.css">
    <script type="text/javascript" src="/js/jquery.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <!--Roboto Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!--Lato Font-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100' rel='stylesheet' type='text/css'>

    <!--Monserrat Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<!--  Landing  -->
    <div id="landing">
        <div id="quote">"A community for veterans to seek help, discover, and educate."</div>
        <br>
        <br>

        <div id="title">
            <img src="/image/logo.png" alt="Mountain View" style="width:900px">
        </div>
        <br>
        <div id="but">
            <a href="/auth/facebook"><button type="button" class="btn btn-secondary btn-lg">Login with Facebook</button></a>
<!--             <div class="divider"/></div>
            <a href="/map"><button type="button" class="btn btn-secondary btn-lg">FIND VA HOSPITALS</button></a>
            <div class="divider"/></div> -->
        </div>

        <br>
        <br>
        <div id="learnmore"><center><a href="#aboutGoal" class="btn btn-primary btn-xl page-scroll">Find Out More</a></center></div>

    </div>


        <div id= "aboutGoal"class="aboutGoal">
            <center><img src="./image/heart.png" style="height:100px;"></center>
            <div class="goaltitle"><center><h2>Our Goal</h2></center></div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <center><p>Our team at Americare wants to inform veterans and service users
                    about mental illness in a way that will encourage them to ask questions
                    and to seek help if they need it. Americare welcomes all users,
                    but wants those who are currently suffering from a mental illness
                    and want support to learn more and to find the resources they need
                    to get better. Veterans and Service Users who just want to support
                    their fellow veterans as well can use the site to share their
                    experiences and stories too (and even doctors if they wish to participate).
                    Americare is a safe platform for anyone who has ever felt confused
                    or alone while dealing with their mental illness. We want them to
                    feel safe and to feel that they are not alone in their struggle.
                    <br>
                    Sign up using Facebook today!
                    </p></center>
                </div>
            </div>
        </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>


    <!-- Plugin JavaScript -->
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>
</html>