<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    
    <div id="landing">
        <div id="quote">"One in five people in America suffer from bipolar disorder."</div>
        <div id="care">CARE</div>
        <div id="bnt">
            <button type="button" class="bnt0" style="margin-right: 4%px;" onclick="window.location='#explore';">EXPLORE</button>
            <button type="button" class="bnt0" style="margin-left: 4%;" onclick="window.location='/forums';">LOGIN</button>
        </div>
        <div id="learnMore"><a href="#">Learn More</a></div>
    </div>
    
    
    <div id="explore">
        <nav id="navbar">
            <ul id="navbar-ul">
                <li class="navbar-li"><a href="#">EXPLORE</a></li>
                <li class="navbar-li" style="float: right;"><a href="#">LOGIN</a></li>
            </ul>
        </nav>
    </div>

</body>
</html>