<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/learnmore.css">
    <script type="text/javascript" src="/js/jquery.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--Roboto Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!--Lato Font-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100' rel='stylesheet' type='text/css'>

    <!--Monserrat Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="aboutGoal">
        <div class="goaltitle"><center><h2>Our Goal</h2></center></div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <center><p> We at Americare wants to inform users about mental illness, in a way that will encourage them to ask questions. Americare welcomes all users, but tries to target those who currently are suffering from a mental illness and want support, people who just want to support those struggling with a mental illness, and even doctors if they wish to participate. Americare is a safe platform for anyone who has ever felt alone.
                </p></center>
            </div>
        </div>
    </div>

    <div class="aboutTeam">
        <div class="goaltitle"><center><h2>How to Use the Site</h2></center></div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <center><p>alskdnasd
                </p></center>
            </div>
        </div>

    </div>

    <div class="aboutGoal">
        <div class="goaltitle"><center><h2>Our Team</h2></center></div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <center><p>The people behind Americare are a team of undergraduate students at the University of California, San Diego who specialize in engineering and user centered design.
                </p></center>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <center><img class="img-responsive img-circle" src="/image/as.png"></center></img><br>
                <center>Alex</center>
            </div>
            <div class="col-sm-4"><center><img class="img-responsive img-circle" src="/image/vl.png"></center></img></div>
            <div class="col-sm-4"><center><img class="img-responsive img-circle" src="/image/dk.png"></center></img></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4"><center><img class="img-responsive img-circle" src="/image/sh.png"></center></img></div>
            <div class="col-sm-4"><center><img class="img-responsive img-circle" src="/image/kc.png"></center></img></div>
            <div class="col-sm-2"></div>
        </div>
    </div>

</body>
</html>
