<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/map.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/papaparse.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!--Roboto Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!--Monserrat Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!--Lato Font-->
<!--    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100' rel='stylesheet' type='text/css'>-->

    <style>
        #button {
            width: 100%;
        }
    </style>


  </head>
  <body>
<!--    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>-->
<!--    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
<!--    <script src="//d3js.org/topojson.v1.min.js"></script>-->
<!--    <script src="https://d3js.org/queue.v1.min.js"></script>-->

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">A M E R I C A R E</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/map">Find Clinics</a>
                    </li>
                    <li>
                        <a href="/statistics">Getting Treatment</a>
                    </li>
                    <li>
                        <a href="/forums">Ask Questions</a>
                    </li>
                    <li>
                        <a href="/learnmore">Learn More</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div id="explore" style="height: 93vh;">
        <div id="map"></div>

        <div id="filter">
            <div id="header" style="margin-top: -70px; font-size: 20px;">Click a button to toggle between data.</div>

            <h4 style="color:white; margin-left: -45%;">% of Veterans:</h4>
            <button id="button" type="button" onclick="outpatient()" class="btn btn-secondary" style="margin-bottom: 10px;">Receiving MH Out-Patient Care</button>
            <br>
            <button id="button" type="button" onclick="ptsd()" class="btn btn-secondary" style="margin-bottom: 10px;">Served with PTSD</button>
            <br>
            <button id="button" type="button" onclick="receivedvacare()" class="btn btn-secondary" style="margin-bottom: 10px;">With PTSD & Received MH care</button>
            <br>
            <h4 style="color:white; margin-left: -45%;">Or find clinics:</h4>
            <button id="button" type="button" onclick="cliniclocations()" class="btn btn-secondary">Clinic Locations in San Diego</button>

                <br>
                <br>
                <br>

                <form id="clinic-form" method="post" action="/map">
                    <center><fieldset class="form-group">
                        <label id="loca" for="location" style="font-size: 20px;">Zoom into a Location:</label>
                        <input name="location" type="text" class="form-control" id="location" placeholder="Type in a Location" required>
                    </fieldset></center>
                    <input type="submit" class="btn btn-lg btn-default" value="Go to Location">
                </form>
              </div>
        </div>

    </div>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/js/publicmap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv460IEdNuuTaGtHUXOAPuTF8O5K7Xpx0&libraries=places&callback=initMap"
        async defer></script>

  </body>
</html>
