<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="/css/statistics.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--Roboto Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!--Lato Font-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100' rel='stylesheet' type='text/css'>

    <!--Monserrat Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  width: 500px;
  color: black;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
  stroke-width="5";
}



</style>

</head>
<body>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">A M E R I C A R E</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/map">Find Clinics</a>
                    </li>
                    <li>
                        <a href="/statistics">Statistics</a>
                    </li>
                    <li>
                        <a href="/forums">Forums</a>
                    </li>
                    <li>
                        <a href="/learnmore">Learn More</a>
                    </li>
                    <li>
                        <a href="/">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <script type="text/javascript" src="/js/statistics.js"></script>



    <br>
    <div class="row" id="info0">
        <div class="col-md-3"></div>

        <div class="col-md-3">
            <div class="type1">5,585</div>
            <h2>Veterans</h2>

        </div>
        <div class="col-md-3">
            <h1>Unique Veterans Seen In Inpatient Mental Health</h1>
            <br>
            <p>asldkalskndaksd</o>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>

    <div class="row" id="info1">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Number of Service Users with Possible Mental Illness</h1>
            <br>
            <p>asldkalskndaksd</o>
        </div>
        <div class="col-md-3">
            <div class="type2">2,116,713</div>
            <h2>Users</h2>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>

    <div class="row" id="info2">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="pie"></div>
        </div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with Possible Mental Illness Seen in Any Mental Health (in blue)</h1>
            <br>
            <p>asldkalskndaksd</o>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="row" id="info3">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Percent of Service Users with Possible Mental Illness (in blue)</h1>
            <br>
            <p>asldkalskndaksd</o>
        </div>
        <div class="col-md-3">
            <div class="pie2"></div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row" id="info4">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="pie3"></div>
        </div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with Possible Mental Illness Seen in Inpatient Mental Health (in blue)</h1>
            <br>
            <p>asldkalskndaksd</o>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="row" id="info5">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with Confirmed Mental Illness Seen in Any Mental Health (in blue)</h1>
            <br>
            <p>asldkalskndaksd</o>
        </div>
        <div class="col-md-3">
            <div class="pie4"></div>
        </div>
        <div class="col-md-3"></div>
    </div>



</body>
</html>
