<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="/css/statistics.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--Roboto Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!--Lato Font-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100' rel='stylesheet' type='text/css'>

    <!--Monserrat Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  width: 500px;
  color: black;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}



</style>

</head>
<body>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">A M E R I C A R E</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/map">Find Clinics</a>
                    </li>
                    <li>
                        <a href="/statistics">Getting Treatment</a>
                    </li>
                    <li>
                        <a href="/forums">Ask Questions</a>
                    </li>
                    <li>
                        <a href="/learnmore">Learn More</a>
                    </li>
                    <li>
                        <a href="/">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <script type="text/javascript" src="/js/statistics.js"></script>

    <div class="row" id="info0">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h3>You are not alone in the fight against Mental Illness</h3></center>
            <br>
            <center><p>Many veterans and people in service have a mental illness.
                These illnesses can be treated at a clinic, hospital, or VA treatment center,
                either through inpatient or outpatient treatment. We at Americare want to encourage
                veterans and service users (VA service users) to seek out treatment.
                The number of veterans and service users that visit our veteran
                stations have a high percentage of possible or confirmed mental
                illness. We want them to get diagnosed and get the treatment
                they need to live a better life.</p></center>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>

    <div class="row" id="info1">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with <i><b>Possible</b></i> Mental Illness</h1>
            <br>
            <p>Many veterans come into veteran stations around the United States not even knowing
                that they may possibly have a mental illness. 69% of veterans coming into these stations
                and are seen by workers there may possibly have a mental health illness.</p>
        </div>
        <div class="col-md-3">
            <div class="pie"></div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row" id="info2">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="pie4"></div>
        </div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with <i><b>Confirmed</b></i> Mental Illness</h1>
            <br>
            <p>85% of veterans that come into our stations are confirmed to have some
                mental illness. If you suspect that you may have something, we urge you to
                come in and seek a diagnosis and maybe even a treatment. Many veterans
                have mental healh issues, you are not alone!</p>
        </div>
        <div class="col-md-3"></div>
    </div>

<!--     <div class="row" id="info3">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Number of Service Users with Possible Mental Illness</h1>
            <br>
            <p>If you are not a veteran, you may still have </p>
        </div>
        <div class="col-md-3">
            <div class="type2">2,116,713</div>
            <h2>Service Users</h2>
        </div>
        <div class="col-md-3"></div>
    </div> -->

    <div class="row" id="info3">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Percent of Service Users with <i><b>Possible</b></i> Mental Illness</h1>
            <br>
            <p>If you are not a veteran and still in service, you may still
                have a mental illness. 31% of service users that come to
                veteran stations are suspected of a possible mental illness. It
                is not just veterans that have this problem, but people still
                in service do too, although less. This does not mean that you should
                not seek help if you suspect something.</p>
        </div>
        <div class="col-md-3">
            <div class="pie2"></div>
        </div>
        <div class="col-md-3"></div>
    </div>

<!--     <div class="row" id="info4">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="type1">5,585</div>
            <h2>Veterans</h2>
        </div>
        <div class="col-md-3">
            <h1>Unique Veterans Seen In Inpatient Mental Health - Let's Raise
                that Number!</h1>
            <br>
            <p>This is the number of unique veterans that are currently in Inpatient Mental Health treatment.
                This means that they live and receive treatment at the same facility. This number
                was taken from the official data.gov Mental Health In Veterans dataset. The numbers were totaled up
                from each clinical station. This number is small. Only about 5,000
                veterans are receiving in-patient treatment when 85% of veterans
                coming into these stations are confirmedd with a mental illness.
                If you know you have a mental illness, it is okay to go and seek
                treatment. Let's raise this number together and fight this together!</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br> -->

    <div class="row" id="info4">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="pie3"></div>
        </div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with <i><b>Confirmed</b></i> Mental Illness in Inpatient Mental Health Treatment
                - Let's Raise that Number!</h1>
            <br>
            <p>This is the proportion of veterans with a confirmed mental illness
                that are getting in-patient treatment. At only 4%, we at Americare
                want to help raise that number up. There are 85% of veterans coming
                into these stations with a confirmed mental illness. If you knoe you
                have a mental illness, it is okay to go and seek treatment. Let's increase
                this number and fight mental illness together!</p>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="row" id="info5">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Proportion of Service Users Who Received Mental Health Services</h1>
            <br>
            <p>Only 25% of service users coming into our veteran stations
                receive mental health services. If you suspect anything, you
                can get diagnosised and treated too.
            </p>
        </div>
        <div class="col-md-3">
            <div class="pie5"></div>
        </div>
        <div class="col-md-3"></div>
    </div>

<!--     <div class="row" id="info1">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Number of Service Users with Possible Mental Illness</h1>
            <br>
            <p>asldkalskndaksd</p>
        </div>
        <div class="col-md-3">
            <div class="type2">2,116,713</div>
            <h2>Users</h2>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br> -->

<!--     <div class="row" id="info2">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="pie"></div>
        </div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with Possible Mental Illness Seen in Any Mental Health</h1>
            <br>
            <p>asldkalskndaksd</p>
        </div>

        <div class="col-md-3"></div>
    </div> -->

<!--     <div class="row" id="info3">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Percent of Service Users with Possible Mental Illness</h1>
            <br>
            <p>asldkalskndaksd</p>
        </div>
        <div class="col-md-3">
            <div class="pie2"></div>
        </div>
        <div class="col-md-3"></div>
    </div> -->

<!--     <div class="row" id="info4">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="pie3"></div>
        </div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with Possible Mental Illness Seen in Inpatient Mental Health</h1>
            <br>
            <p>asldkalskndaksd</p>
        </div>

        <div class="col-md-3"></div>
    </div> -->

<!--     <div class="row" id="info5">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h1>Proportion of Veterans with Confirmed Mental Illness Seen in Any Mental Health</h1>
            <br>
            <p>asldkalskndaksd</p>
        </div>
        <div class="col-md-3">
            <div class="pie4"></div>
        </div>
        <div class="col-md-3"></div>
    </div> -->



</body>
</html>
