body {
    background-color: white;
    margin: auto;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*---- Landing Page -----*/
.navbar.navbar-fixed-top {
    font-family: Montserrat;
    background-color: #F6F6F6;
    border: none;
    box-shadow:1px 2px 4px rgba(0, 0, 0, .5);
    /*height: 10%;*/
}

.nav.navbar-nav a:hover {
    background-color: #F6F6F6;
    color: #97D4C6;
    text-shadow: none;
}

.navbar-branding {
    font-weight: 900;
    font-family: Montserrat;
    font-size:35px;
    float: left;
    width:100%;
    margin-left:15%;
    color:#21a1ea;
}

.row h1 {
    font-family: Montserrat;
    font-size: 20px;
}

#map {
    width: 50%;
    height: 90%;
    float: left;
}

#title {
    font-family: Lato;
    font-weight: 500;
    text-align: center;
    color: white;
    font-size: 250px;
    letter-spacing: 50px
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}

#but {
    text-align: center;
}

.btn.btn-secondary.btn-lg {
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    width: 250px;
}

#landing {
    width: 100%;
    height: 100vh;
    background-image: url(/image/america.jpg);
    background-size: cover;
}

.learn {
    color: white;
}

#learnmore {
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

#quote {
    padding-top: 4%;
    text-align: center;
    font-family: Roboto;
    color: white;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 1px;
}

#care {
    margin-top: 4%;
    text-align: center;
    font-size: 200px;
    color: white;
    letter-spacing: 40px;
    font-family: sans-serif;
    font-weight: 100;
}

.bnt {
    text-align: center;
}

.bnt0 {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

#learnMore {
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
}

#learnMore a {
    color: white;
    text-decoration: none;
    position: relative;
}
#learnMore a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}

/*---- Explore Page -----*/
#explore {
    width: 100%;
    height: 100vh;
   /* background-image: url(/image/map.png);*/
    background-size: cover;
    position: relative;
}

#navbar {
    padding-top: 10px;
    background-color: black;
    background:rgba(0,0,0,0.3);
    height: 6vh;
    line-height: 0px;
}

#navbar-ul {
    list-style-type: none;
    margin-left: -3%;
}

.navbar-li {
    display: inline;
}

.navbar-li a {
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

/*---- Overlay ------*/
.overlay {
    height: 92.5vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 4%;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 9px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

/*--- Age, Gender, Disorder box ----*/
#inputBox {
    width: 60%;
    height: 6vh;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/*--- Reset and Filter buttons ---*/
.bnt1 {
    width: 20%;
    padding: 6px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}

/*--- Learn More page ---*/
.item {
    height: 100%;
}

#aboutTeam {
    width: 100%;
    height: auto;
    background-color: white;
}

#teamImage {
    width: 100%;
    height: 50vh;
    background-color: black;
}
.carousel-inner > .item > img{
  marin: 0 auto;
}
.singleImage {
    margin-top: 2vh;
    margin-left: 1.7%;
    float: left;
    width: 18%;
    height: 46vh;
    background-color: azure;
}

.goaltitle {
    font-family: Montserrat;
    font-weight: 700;
}
.aboutGoal {
    background-color: #ABD9F3;
    padding: 50px;
    color: black;
}

p {
    font-family: Roboto;
    font-weight: 400;
    line-height: 22px;
}

.aboutTeam {
    background-color: #00000;
    padding: 50px;

}

.img-responsive.img-circle {
    height: 180px;
    border: 7px #EDEDED;
    width: 180px;
}

.aboutTeam img {
    border: 7px #EDEDED;
}
