body {
    background-color: black;
    margin: auto;
    padding-top: 50px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*---- Landing Page -----*/
.navbar.navbar-fixed-top {
    font-family: Montserrat;
    background-color: #F6F6F6;
    border: none;
    box-shadow:1px 2px 4px rgba(0, 0, 0, .5);
    /*height: 10%;*/
}

.nav.navbar-nav a:hover {
    background-color: #F6F6F6;
    color: #97D4C6;
    text-shadow: none;
}

.navbar-branding {
    font-weight: 900;
    font-family: Montserrat;
    font-size:35px;
    float: left;
    width:100%;
    margin-left:15%;
    color:#21a1ea;
}

#info1 {
    background-color: #ABD9F3;
    text-align: right;
}

#info3 {
    background-color: #ABD9F3;
    text-align: right;
}

#info5 {
    background-color: #ABD9F3;
    text-align: right;
}

.inside {
    font-family: Montserrat;
}

.type1 {
    font-family: Lato;
    font-size: 50px;
    text-align: center;

}

.type2 {
    font-family: Lato;
    font-size: 100px;
    text-align: center;
}

.row h1 {
    font-family: Montserrat;
    font-size: 17px;
}

.row h2 {
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
}

.row p{
    font-family: Roboto;
    font-weight:300;
}

.page-header.page-heading h1{
    font-family: Roboto;
    font-weight: 700;
}

#forums {
    font-family: Roboto;
    width:100%;
}

#forums p{
    font-family: Roboto;
    font-size: 15px;
}



#map {
    width: 80%;
    height: 100%;
    float: left;
    position: fixed;
}

#but {
    text-align: center;
}

.btn-lg.btn-submit.btn-lg {
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    width: 100%;
}

#header {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 80px;
}

#location {
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
}

#loca {
    color: white;
    font-family: Roboto;
    font-weight: 100;
    font-size: 20px;
}

#filter{
    float:right;
    width:20%;
    height:100%;
    background-color: #00091a;
    padding:10px;
}

#landing {
    width: 100%;
    height: 100vh;
    background-image: url(/image/map.png);
    background-size: cover;
}

#quote {
    padding-top: 7%;
    text-align: center;
    color: white;
    font-size: 28px;
    letter-spacing: 1px;
}

#care {
    margin-top: 4%;
    text-align: center;
    font-size: 200px;
    color: white;
    letter-spacing: 40px;
    font-family: sans-serif;
    font-weight: 100;
}

.bnt {
    text-align: center;
}

.bnt0 {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

#learnMore {
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
}

#learnMore a {
    color: white;
    text-decoration: none;
    position: relative;
}
#learnMore a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}

/*---- Explore Page -----*/
#explore {
    width: 100%;
    height: 100vh;
   /* background-image: url(/image/map.png);*/
    background-size: cover;
    position: relative;
    background-color: black;

}

#navbar {
    padding-top: 10px;
    background-color: black;
    background:rgba(0,0,0,0.3);
    height: 6vh;
    line-height: 0px;
}

#navbar-ul {
    list-style-type: none;
    margin-left: -3%;
}

.navbar-li {
    display: inline;
}

.navbar-li a {
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

/*---- Overlay ------*/
.overlay {
    height: 92.5vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 4%;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 9px;
}

@media screen and (max-height: 500px) {
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}
@media (max-width: 900px) and (max-height:600px){
  #filter{
      float:right;
      width:30%;
      height:80%;
      background-color: #00091a;
      padding:10px;
  }
  #map{
    width: 70%;
    height: 100%;
    float: left;
    position: fixed;
  }
  @media (max-width: 600px) and (max-height:600px){
    #filter{
        float:right;
        width:40%;
        height:80%;
        background-color: #00091a;
        padding:10px;
    }
    #map{
      width: 60%;
      height: 100%;
      float: left;
      position: fixed;
    }
    .navbar-collapse{
      margin-left: 60%;
    }

  .btn-lg.btn-submit.btn-lg {
      font-family: Roboto;
      font-weight: 300;
      font-size: 10px;
      width: 100%;
  }
}

/*--- Age, Gender, Disorder box ----*/
#inputBox {
    width: 60%;
    height: 6vh;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/*--- Reset and Filter buttons ---*/
.bnt1 {
    width: 35%;
    padding: 6px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}

/*--- Learn More page ---*/
#aboutTeam {
    width: 100%;
    height: 100vh;
    background-color: darkgray;
}

#teamImage {
    width: 100%;
    height: 50vh;
    background-color: black;
}

.singleImage {
    margin-top: 2vh;
    margin-left: 1.7%;
    float: left;
    width: 18%;
    height: 46vh;
    background-color: azure;
}

#teamInfo {
    width: 100%;
    height: 42.5vh;
}

.aboutGoal {
    width: 49%;
    height: 100%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
}

.infoContent {
    margin-top: 5vh;
    width: 70%;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}
