body {
    background-color: black;
    margin: auto;
    padding-top: 50px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*---- Landing Page -----*/
.navbar.navbar-fixed-top {
    font-family: Montserrat;
    background-color: #F6F6F6;
    border: none;
}

.nav.navbar-nav a:hover {
    background-color: #E39090;
    color: white;
    text-shadow: none;
}

.navbar-brand {
    font-weight: 900;
    font-family: Montserrat;
    font-size: 35px;
    float: left;

}



.level-0 {
    font-family: Roboto;
}
.level-1 {
	margin-left: 30px;
    padding: 20px;
    font-family: Roboto;
}.level-2 {
	margin-left: 40px;
    padding: 20px;
    font-family: Roboto;

}.level-3 {
    margin-left: 50px;
    padding: 20px;
    font-family: Roboto;
}

.level-0 h3 {
    font-family: Roboto;
    font-weight: 500;
}

.level-0 h1 {
    font-family: Roboto;
    font-weight: 700;
}

p {
    font-family: Roboto;
    font-weight: 300;
}